<div class="container text-center my-5">
    <h2 class="custom-heading">Sites</h2>
    <!-- <div class="design-line"></div> -->
    <div class="row justify-content-center mt-4">
        <div class="col-md-2 col-sm-6 mb-4" routerLink="content/jewllery">
            <div class="card">
                <img src="../../assets/images/Jewellery.jpg" class="card-img-top" alt="Jewellery of the Nizams">
                <div class="card-body p-2">
                    <p class="card-title m-0">Jewellery of the Nizams</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4" routerLink="content/ajanta">
            <div class="card">
                <img src="../../assets/images/ajanta caves.jpg" class="card-img-top" alt="Ajanta Caves">
                <div class="card-body p-2">
                    <p class="card-title m-0">Ajanta Caves</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4" routerLink="content/north-east">
            <div class="card">
                <img src="../../assets/images/north east.webp" class="card-img-top" alt="The North-East Archive">
                <div class="card-body p-2">
                    <p class="card-title m-0">The North-East Archive</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4" routerLink="content/forts">
            <div class="card">
                <img src="../../assets/images/fort of inida.jpg" class="card-img-top" alt="Forts of India">
                <div class="card-body p-2">
                    <p class="card-title m-0">Forts of India</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4" routerLink="content/walkthrough">
            <div class="card">
                <img src="../../assets/images/Virtual Walkthrough.jpg" class="card-img-top" alt="Virtual Walkthrough">
                <div class="card-body p-2">
                    <p class="card-title m-0">Virtual Walkthrough</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4" routerLink="content/historic">
            <div class="card">
                <img src="../../assets/images/Historic imags.jpg" class="card-img-top" alt="Historic Cities Of India">
                <div class="card-body p-2">
                    <p class="card-title m-0">Historic Cities Of India</p>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Newsletter start-->

   <div class="newsletter-section text-center my-5" >
    <h2 class="custom-heading">News & Articles</h2>
    <div class="container1 mt-5">
<!-- left -->
        <div class="slider-container">
        <div class="list-group">
            <li data-pdf-url="https://www.niti.gov.in/sites/default/files/2023-03/ImprovingHeritageManagement-in-India.pdf" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new" >
                <div class="news-content">
                    <h6 class="mb-1">Working Group Report on "Improving Heritage Management" </h6>
                    <small class="text-muted">By Niti Aayog Govt. of India</small>
                </div>
                <span class="indicator"></span>
                <img src="../../../assets/article1.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new" >
                <div class="news-content">
                    <h6 class="mb-1">CDSL rich valuations prompt ICICI Securities to cut rating to ‘reduce’</h6>
                    <small class="text-muted">3 min read · 11:58 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new" >
                <div class="news-content">
                    <h6 class="mb-1">CDSL rich valuations prompt ICICI Securities to cut rating to ‘reduce’</h6>
                    <small class="text-muted">3 min read · 11:58 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new" >
                <div class="news-content">
                    <h6 class="mb-1">CDSL rich valuations prompt ICICI Securities to cut rating to ‘reduce’</h6>
                    <small class="text-muted">3 min read · 11:58 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new" >
                <div class="news-content">
                    <h6 class="mb-1">CDSL rich valuations prompt ICICI Securities to cut rating to ‘reduce’</h6>
                    <small class="text-muted">3 min read · 11:58 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new" >
                <div class="news-content">
                    <h6 class="mb-1">CDSL rich valuations prompt ICICI Securities to cut rating to ‘reduce’</h6>
                    <small class="text-muted">3 min read · 11:58 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new">
                <div class="news-content">
                    <h6 class="mb-1">Upcoming IPO: National Infrastructure Trust files DRHP for ₹1,600-crore issue</h6>
                    <small class="text-muted">1 min read · 11:54 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new">
                <div class="news-content">
                    <h6 class="mb-1">Penny stock jumps as Minerva Ventures Fund buys stake in small-cap share</h6>
                    <small class="text-muted">1 min read · 11:51 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new">
                <div class="news-content">
                    <h6 class="mb-1">NCERT proposes ‘new evaluation model’ for Class 12 board results</h6>
                    <small class="text-muted">1 min read · 11:47 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
            <li data-pdf-url="https://drive.google.com/file/d/1Y3ZYAXg5weGCwmLOcIWk-PhBRRI6s2oe/view" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center new">
                <div class="news-content">
                    <h6 class="mb-1">Flipkart surprises customer after delivering laptop in 13 minutes</h6>
                    <small class="text-muted">1 min read · 11:47 AM IST</small>
                </div>
                <span class="indicator"></span>
                <img src="/path-to-your-image.jpg" alt="News Image" class="news-img">
            </li>
        </div>

        </div>
<!-- right -->
        <div class="photo-collage">
            <img src="../../../assets/img/img 1.jpg_large.jpeg" class="collage-img img1" alt="Image 1">
            <img src="../../../assets/img/img 2.jpg" class="collage-img img2" alt="Image 2">
            <img src="../../../assets/img/img 3.jpg" class="collage-img img3" alt="Image 3">
            <img src="../../../assets/img/img 4.jpg" class="collage-img img4" alt="Image 4">
            <img src="../../../assets/img/img 5.jpg" class="collage-img img5" alt="Image 5">
            <img src="../../../assets/img/img 6.webp" class="collage-img img6" alt="Image 6">
            <img src="../../../assets/img/img 7.webp" class="collage-img img7" alt="Image 7">
            <img src="../../../assets/img/img 8.webp" class="collage-img img8" alt="Image 8">
            <img src="../../../assets/img/img 9.jpg" class="collage-img img9" alt="Image 9">
        </div>
    </div>
</div>




<!-- news letter end-->


<!-- contactus Start-->


 <!-- contactus end-->

    <section class="keep-exploring text-center my-5">
        <div class="container">
            <h2 class="custom-heading">Keep exploring</h2>
            <!-- <div class="design-line"></div> -->
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/exhibit?project=wonders-of-india  " class="card-link">
                    <div class="card">
                        <img src="https://thecsruniverse.com/adminxsafe/uploads/Interglobe%20News%20Item.JPG" class="card-img-top" alt="Exhibits">
                        <div class="card-body ">
                            <h5 class="card-title">Exhibits</h5>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/video?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://img.jagranjosh.com/imported/images/E/Articles/Cultural-Heritage-of-India.jpg" class="card-img-top" alt="Videos">
                        <div class="card-body ">
                            <h5 class="card-title">Videos</h5>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/asset?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://img.freepik.com/premium-photo/cultural-heritage-india_670382-130922.jpg" class="card-img-top" alt="Images">
                        <div class="card-body ">
                            <h5 class="card-title">Images</h5>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/streetview?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://s3.amazonaws.com/iomedia-s3/media/celebrities/15813/products/_03__L.jpg" class="card-img-top" alt="Virtual Tours">
                        <div class="card-body">
                            <h5 class="card-title">Virtual Tours</h5>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/partner?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://m.economictimes.com/thumb/msid-94468031,width-1600,height-900,resizemode-4,imgsize-241714/india-heritage-art.jpg" class="card-img-top" alt="Collections">
                        <div class="card-body ">
                            <h5 class="card-title">Collections</h5>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/partner/indian-national-trust-for-art-and-cultural-heritage" class="card-link">
                    <div class="card">
                        <img src="https://www.hisour.com/wp-content/uploads/2017/08/Indian-National-Trust-For-Art-and-Cultural-Heritage-1280x720.jpg" class="card-img-top" alt="Collections">
                        <div class="card-body ">
                            <h5 class="card-title">Trust For Art and Heritage</h5>
                        </div>
                    </div>
                </a>
                </div>

            </div>
        </div>
    </section>



