<div class="container-fluid mt-4">
    <div class="collapse" id="destinationsImages">
        <h5 class="card-title1 text-center" >Heritage Sites of India</h5>
      <div class="row">
        <!-- Card items for Destinations go here -->
        <!-- Example card: -->
        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/10s.jpg" class="card-img-top" alt="Popular Destinations"  (click)="navigateToDetail('Khajuraho')">
                <div class="card-body">
                    <h5 class="card-title text-center">Khajuraho</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Somanath_Temple.jpg/350px-Somanath_Temple.jpg" class="card-img-top" alt="Spiritual" (click)="navigateToDetail('Somnath')">
                <div class="card-body">
                    <h5 class="card-title text-center">Somnath Temple</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/14s.jpg" class="card-img-top" alt="Adventure" (click)="navigateToDetail('Ruins_of_Hampi')">
                <div class="card-body">
                    <h5 class="card-title text-center">Ruins of Hampi</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/13s.jpg" class="card-img-top" alt="Nature and Wildlife" (click)="navigateToDetail('Sanchi_Stupa')">
                <div class="card-body">
                    <h5 class="card-title text-center"> Sanchi Stupa</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/17s.jpg" class="card-img-top" alt="Art" (click)="navigateToDetail('Tirupati')">
                <div class="card-body">
                    <h5 class="card-title text-center">Tirumala Venkateswara Temple</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/15s.jpg" class="card-img-top" alt="Food and Cuisine" (click)="navigateToDetail('Tajmahal')">
                <div class="card-body">
                    <h5 class="card-title text-center">Tajmahal Agra</h5>
                </div>
            </div>
          </div>
        <!-- Add the rest of your cards here -->
      </div>
    </div>
  </div>



  <div class="container-fluid mt-4">
    <div class="collapse" id="experienceImages">
        <h5 class="card-title1 text-center" >Heritage Culture of India</h5>
      <div class="row">
        <!-- Card items for Experiences go here -->
        <!-- Example card: -->
          <div class="col-md-2 mb-4">
              <div class="card">
              <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/1s.jpg" class="card-img-top" alt="Heritage" (click)="navigateToCultureDetail('Odissy')">
              <div class="card-body">
                  <h5 class="card-title text-center">Odissy</h5>
              </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/3s.jpg" class="card-img-top" alt="Spiritual" (click)="navigateToCultureDetail('Kathak')">
                  <div class="card-body">
                      <h5 class="card-title text-center">kathak</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/2s.jpg" class="card-img-top" alt="Adventure" (click)="navigateToCultureDetail('Kuchipudi')">
                  <div class="card-body">
                      <h5 class="card-title text-center">Kuchipudi</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/5s.jpg" class="card-img-top" alt="Nature and Wildlife" (click)="navigateToCultureDetail('Kuttiyam')">
                  <div class="card-body">
                      <h5 class="card-title text-center">kuttiyam</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/6s.jpg" class="card-img-top" alt="Art" (click)="navigateToCultureDetail('Kathakali')">
                  <div class="card-body">
                      <h5 class="card-title text-center">kathakali</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/16s.jpg" class="card-img-top" alt="Food and Cuisine" (click)="navigateToCultureDetail('Kalaripayattu')">
                  <div class="card-body">
                      <h5 class="card-title text-center">Kalaripattu</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://i.imgur.com/bCtN0QU.gif" class="card-img-top" alt="Luxury" (click)="navigateToCultureDetail('Naga')">
                  <div class="card-body">
                      <h5 class="card-title text-center">Naga Dance</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/27s.jpg" class="card-img-top" alt="Yoga and Wellness" (click)="navigateToCultureDetail('Ghoomer')">
                  <div class="card-body">
                      <h5 class="card-title text-center">Goomer Folk Dance</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/18s.jpg" class="card-img-top" alt="Shopping" (click)="navigateToCultureDetail('FolkPunjabi')">
                  <div class="card-body">
                      <h5 class="card-title text-center">Folk Dance of Punjab</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/25s.jpg" class="card-img-top" alt="UNESCO World Heritage Sites" (click)="navigateToCultureDetail('Mohiniattyam')">
                  <div class="card-body">
                      <h5 class="card-title text-center">Mohiniattam Dance</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/26s.jpg" class="card-img-top" alt="Museums in India" (click)="navigateToCultureDetail('Manipuri')">
                  <div class="card-body">
                      <h5 class="card-title text-center">Manipuri Dance</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 mb-4">
              <div class="card">
                  <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/20s.jpg" class="card-img-top" alt="Crafted in India" (click)="navigateToCultureDetail('DesertFestival')">
                  <div class="card-body">
                      <h5 class="card-title text-center">Desert Festival Rajsthan</h5>
                  </div>
              </div>
          </div>
        <!-- Add the rest of your cards here -->
      </div>
    </div>
  </div>



  <div class="container-fluid mt-4">
    <div class="collapse" id="travelImages">
        <h5 class="card-title1 text-center" >Heritage art of india</h5>
      <div class="row">
        <!-- Card items for Travel go here -->
        <!-- Example card: -->
        <div class="col-md-2 mb-4">
            <div class="card">
            <img src="https://t4.ftcdn.net/jpg/05/82/15/65/360_F_582156555_hbyp1b5f45xGtOp2PPDngIOX4YKv7tZF.jpg" class="card-img-top" alt="About India" (click)="navigateToArtDetail('Painting')">
            <div class="card-body">
                <h5 class="card-title text-center">Painting</h5>
            </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU3qiwIQYc-5mV7CGURw5Sj7Sa6Q4vX5iI_g&s" class="card-img-top" alt="Spiritual" (click)="navigateToArtDetail('Texttiles')">
                <div class="card-body">
                    <h5 class="card-title text-center">Textiles</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://media.nga.gov/iiif/7583412c-fee6-496a-b316-467f8a495a40/full/!740,560/0/default.jpg" class="card-img-top" alt="Adventure" (click)="navigateToArtDetail('Sculpture')">
                <div class="card-body">
                    <h5 class="card-title text-center">Sculpture</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://static.toiimg.com/photo/106594613.cms" class="card-img-top" alt="Nature and Wildlife" (click)="navigateToArtDetail('Pottery')">
                <div class="card-body">
                    <h5 class="card-title text-center">Pottery</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://i.pinimg.com/736x/65/05/f8/6505f82325820d0ebc914ff633642527.jpg" class="card-img-top" alt="Art" (click)="navigateToArtDetail('Jewelry')">
                <div class="card-body">
                    <h5 class="card-title text-center">Jewelry</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 mb-4">
            <div class="card">
                <img src="https://www.indiawoodcrafts.com/img/img-div1.jpg" class="card-img-top" alt="Food and Cuisine" (click)="navigateToArtDetail('WoodenCrafts')">
                <div class="card-body">
                    <h5 class="card-title text-center">Wooden Crafts</h5>
                </div>
            </div>
          </div>
        <!-- Add the rest of your cards here -->
      </div>
    </div>
  </div>
