<div id="headerCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://live.staticflickr.com/262/31218509023_39083a232a_b.jpg" class="d-block w-100" alt="Ajanta Caves">
        </div>
        <div class="carousel-item">
            <img src="https://live.staticflickr.com/262/31218509023_39083a232a_b.jpg" class="d-block w-100" alt="Ellora Caves">
        </div>
        <div class="carousel-item">
            <img src="https://live.staticflickr.com/262/31218509023_39083a232a_b.jpg" class="d-block w-100" alt="Karla Caves">
        </div>
    </div>
    <a class="carousel-control-prev" href="#headerCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#headerCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center">
    <h2 class="custom-heading">Walkthrough</h2>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="https://travelsetu.com/apps/uploads/new_destinations_photos/destination/2023/12/28/645e299540a48d37deab1dc2c14c8bad_1000x1000.jpg" class="card-img-top" alt="Ajanta Paintings">
                <div class="card-body">
                    <h5 class="card-title">Ajanta Caves</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Ellora_Caves%2C_India%2C_Kailasanatha_Temple_2.jpg" class="card-img-top" alt="Kailasa Temple">
                <div class="card-body">
                    <h5 class="card-title">Ellora Caves</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Karla_caves_Chaitya.jpg" class="card-img-top" alt="Karla Caves">
                <div class="card-body">
                    <h5 class="card-title">Karla Caves</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="https://media1.thrillophilia.com/filestore/qj62nh68fativk30jny3i6osrzgw_1524229348_Elephanta_caves.jpg?w=400&dpr=2" class="card-img-top" alt="Elephanta Caves">
                <div class="card-body">
                    <h5 class="card-title">Elephanta Caves</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://static2.tripoto.com/media/filter/tst/img/1019120/TripDocument/1541420867_shareiq_829_1407770462_286402.jpg" class="card-img-top" alt="Borra Caves">
                <div class="card-body">
                    <h5 class="card-title">Borra Caves</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-3">
            <div class="card">
                <img src="https://static.toiimg.com/photo/99233273.cms" class="card-img-top" alt="Badami Caves">
                <div class="card-body">
                    <h5 class="card-title">Badami Caves</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <p>
        The Magnificent Caves of India: A Journey Through Time

        India is home to some of the most breathtaking caves in the world, showcasing the country’s rich cultural and religious history. The Ajanta Caves, with their exquisite paintings, depict the life of the Buddha and are a testament to the artistic genius of ancient India. The Ellora Caves, on the other hand, are renowned for their monumental rock-cut temples, including the Kailasa temple, one of the largest monolithic structures in the world.

        The Karla Caves are famous for their grand chaityagriha, a Buddhist prayer hall, and their intricate carvings. Similarly, the Elephanta Caves, located near Mumbai, are known for their magnificent sculptures dedicated to Lord Shiva, including the iconic Trimurti.

        Borra Caves, located in the Eastern Ghats, are celebrated for their impressive stalactites and stalagmites, while the Badami Caves are a splendid example of Indian rock-cut architecture, featuring Hindu, Jain, and Buddhist temples.

        Each of these caves offers a unique insight into India’s historical, religious, and cultural heritage, making them a must-visit for history enthusiasts and travelers alike.
    </p><br><br><br>
</div>


<!-- Walkthrough Section -->
<div class="container ">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AxYJAhpBTuo" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Karla Caves Walkthrough</h5>
                    <p>Experience the grandeur of Karla Caves with our virtual walkthrough. Explore the ancient Buddhist chaityagriha and intricate carvings from the comfort of your home.</p>
                    <a href="#" class="btn btn-primary">Start Walkthrough</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YV6867qpS7A?autoplay=1" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ajanta Caves Walkthrough</h5>
                    <p>Discover the stunning Ajanta Caves, where ancient paintings and rock-cut architecture come to life in this immersive virtual experience.</p>
                    <a href="#" class="btn btn-primary">Start Walkthrough</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E23s8MmSjuQ" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ellora Caves Walkthrough</h5>
                    <p>Take a journey through the magnificent Ellora Caves. Explore the awe-inspiring Kailasa temple and more, all from your screen.</p>
                    <a href="#" class="btn btn-primary">Start Walkthrough</a>
                </div>
            </div>
        </div>
    </div>
</div>
