<main>
  <ul class='slider'>
    <li class='item'
      style="background-image: url('https://media.cntraveler.com/photos/5e45b19442bf730008de4186/16:9/w_3007,h_1691,c_limit/Angkor%20Wat%20GettyImages-502325314.jpg')">
      <div class='content'>
        <h2 class='title'>"Angkor Bayon Temple"</h2>
        <p class='description'> Angkor is one of the most important archaeological sites in South-East Asia. Stretching
          over some 400 km2, including forested area, Angkor Archaeological Park contains the magnificent remains of the
          different capitals of the Khmer Empire, from the 9th to the 15th century. They include the famous Temple of
          Angkor Wat and, at Angkor Thom, the Bayon Temple with its countless sculptural decorations. UNESCO has set up
          a wide-ranging programme to safeguard this symbolic site and its surroundings. </p>
          <button [routerLink]="['content/site-cultural']" class="button">Read More</button>


      </div>
    </li>
    <li class='item'
      style="background-image: url('https://assets.cntraveller.in/photos/60ba18e0253686a607d32342/master/pass/Untitled-design-46.jpg')">
      <div class='content'>
        <h2 class='title'>"Bagan Temples"</h2>
        <p class='description'>This heritage site, with its intricate designs and serene atmosphere, invites visitors to
          step back in time and immerse themselves in the spiritual and historical significance of the place. Each
          structure tells a story of a civilization that valued art, religion, and community, leaving behind a legacy
          that has withstood the test of time. </p>
          <button [routerLink]="['content/site-cultural']" class="button">Read More</button>

      </div>
    </li>
    <li class='item' style="background-image: url('https://wallpapercave.com/wp/wp6629386.jpg')">
      <div class='content'>
        <h2 class='title'>"Mughal architecture in India"</h2>
        <p class='description'>The palace is not just a historical monument but also a cultural hub, housing museums
          that showcase an extensive collection of royal artifacts, including costumes, weapons, and manuscripts.
          Visitors are transported back in time, experiencing the opulence and splendor that once defined the lives of
          Rajasthan's royalty.</p>
          <button [routerLink]="['content/site-cultural']" class="button">Read More</button>

      </div>
    </li>
    <li class='item'
      style="background-image: url('https://www.tamilnadutourism.tn.gov.in/img/pages/medium-desktop/heritage-1654930257_3bd4e2db17e0cee92f15.webp')">
      <div class='content'>
        <h2 class='title'>"Gangaikonda Cholapuram Temple"</h2>
        <p class='description'>
          The Gangaikonda Cholapuram Temple, located in Tamil Nadu, is a monumental example of the architectural
          brilliance and cultural grandeur of the Chola dynasty. Constructed in the 11th century by Rajendra Chola I,
          this temple was designed to surpass the magnificence of the Brihadeeswarar Temple in Thanjavur, reflecting the
          Cholas' wealth, power, and devotion to Lord Shiva.
        </p>
        <button [routerLink]="['content/site-cultural']" class="button">Read More</button>
      </div>
    </li>
    <li class='item'
      style="background-image: url('https://www.tamilnadutourism.tn.gov.in/img/pages/large-desktop/mamallapuram-shore-temple-1653384258_d88d3d01bc1bbf48db9b.webp')">
      <div class='content'>
        <h2 class='title'>"Mamallapuram Shore Temple"</h2>
        <p class='description'>
          The Shore Temple in Mamallapuram, also known as Mahabalipuram, is one of the most iconic and ancient
          architectural marvels in India. Located on the shores of the Bay of Bengal in Tamil Nadu, this temple is a
          UNESCO World Heritage Site and is renowned for its historical, cultural, and architectural significance.
        </p>
        <button [routerLink]="['content/site-cultural']" class="button">Read More</button>

      </div>
    </li>
    <li class='item'
      style="background-image: url('https://images.pexels.com/photos/1542620/pexels-photo-1542620.jpeg?cs=srgb&dl=pexels-yogendras31-1542620.jpg&fm=jpg')">
      <div class='content'>
        <h2 class='title'>"Humayun's Tomb"</h2>
        <p class='description'>Humayun's Tomb is a magnificent example of Mughal architecture in India and was built in the mid-16th century. Commissioned by Humayun's widow, Empress Bega Begum, the tomb is known for its grand scale, symmetrical gardens, and use of red sandstone with white marble inlay. It inspired the later construction of the Taj Mahal and represents a blend of Persian, Turkish, and Indian architectural styles. The tomb is a UNESCO World Heritage Site and serves as a significant cultural and historical monument in India.</p>
        <button [routerLink]="['content/site-cultural']" class="button">Read More</button>

      </div>
    </li>
  </ul>
  <nav class='nav'>
    <i class="fas fa-chevron-left btn prev"></i>
    <i class="fas fa-chevron-right btn next"></i>
</nav>

</main>



<!-- Additional slides... -->

<!-- Hero Section -->
<section id="about" class="hero-section text-center py-5">
  <h2 class="custom-heading">Preserving India's Rich Heritage</h2>

  <div class="container text-center py-5">
    <h3 class="">Government Initiatives and Cultural Revival</h3>
    <p class="section-description">
      India, with its vast history and cultural diversity, is home to numerous ancient sites and heritage monuments that
      are of immense significance. The government of India has acknowledged the importance of preserving the nation’s
      timeless and rich cultural heritage. The government’s effort has been led from the front by Prime Minister Shri
      Narendra Modi under the slogan he gave, ‘Vikas Bhi Virasat Bhi’. The Prime Minister has accorded pivotal
      importance to protecting and promoting Indian knowledge systems, traditions, and cultural ethos, both nationally
      and internationally.

      One of the notable accomplishments is the redevelopment of neglected sites of civilizational significance. As of
      May 2023, a total number of 45 projects at a cost of Rs 1584.42 crore covering pilgrimage sites across the country
      have been approved under PRASAD (Pilgrimage Rejuvenation and Spiritual Augmentation Drive) scheme by the
      Government in its unwavering commitment to safeguarding India's ancient civilizational heritage.
    </p>
  </div>
</section>

<!-- Image Section -->
<section class="image-section">
  <div class="image-container">
    <div class="overlay-text">
      <b>Reviving cultural heritage is not a solitary effort; it requires the involvement of the entire community. We
        collaborate with local artisans, elders, and cultural institutions to ensure that the knowledge passed down
        through generations is not lost. By engaging with these stakeholders, we create a living connection to our
        heritage that resonates with all members of the community.Our long-term goal is to ensure that our cultural
        heritage is not just preserved but celebrated. By reviving these traditions, we hope to foster a sense of pride
        in our shared identity, strengthen community bonds, and create opportunities for cultural tourism that will
        sustain these practices for future generations.</b>
    </div>
  </div>
</section>

<div class="carousel-container">
  <h2 class="custom-heading">Categories</h2>
  <div class="carousel">
    <button class="carousel-btn left" id="scroll-left">❮</button>
    <div class="carousel-track-container">
      <ul class="carousel-track">
        <!-- Carousel Slides -->
        <li class="carousel-slide">
          <img src="https://static.toiimg.com/photo/msid-92655990,width-96,height-65.cms" alt="Heritage Handicraft">
          <p>Heritage Handicraft</p>
        </li>
        <li class="carousel-slide">
          <img src="https://www.rajasthantourpackages.co.in/pages/1791755481.jpg" alt="Historic Cities of India">
          <p>Textile</p>
        </li>
        <li class="carousel-slide">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvu86CuVkXJv8II-lGn0mBJlqpk2Ea1WiQQg&s"
            alt="Audios">
          <p>Jewellery</p>
        </li>
        <li class="carousel-slide">
          <img src="https://smcdn.artoreal.com/catalog/product/e/s/es817l05odtq9bnservu98dc7ekqnn1704560715.jpg"
            alt="Historic Cities of India">
          <p>Painting</p>
        </li>
        <li class="carousel-slide">
          <img src="https://www.rajasthantourpackages.co.in/pages/1791755481.jpg" alt="Historic Cities of India">
          <p>Textile</p>
        </li>
        <li class="carousel-slide">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvu86CuVkXJv8II-lGn0mBJlqpk2Ea1WiQQg&s"
            alt="Audios">
          <p>Jewellery</p>
        </li>
        <li class="carousel-slide">
          <img src="https://smcdn.artoreal.com/catalog/product/e/s/es817l05odtq9bnservu98dc7ekqnn1704560715.jpg"
            alt="Historic Cities of India">
          <p>Painting</p>
        </li>

        <li class="carousel-slide">
          <img
            src="https://png.pngtree.com/png-vector/20240530/ourmid/pngtree-watercolor-of-russian-balalaika-stringed-instrument-natural-wood-trial-on-transparent-png-image_12544789.png"
            alt="Historic Cities of India">
          <p>Musical Instruments</p>
        </li>

        <li class="carousel-slide">
          <img src="https://getgiglobal.com/backend/assets/images/products/1678954062784K.jpg" alt="Audios">
          <p>Mask</p>
        </li>
        <li class="carousel-slide">
          <img src="https://www.giheritage.com/uploads/product/leather-handicraft-trotting-horse-6-inch-h.png"
            alt="Historic Cities of India">
          <p>Toys</p>

        <li class="carousel-slide">
          <img src="https://getgiglobal.com/backend/assets/images/products/1678954062784K.jpg" alt="Audios">
          <p>Mask</p>
        </li>
        <li class="carousel-slide">
          <img src="https://www.giheritage.com/uploads/product/leather-handicraft-trotting-horse-6-inch-h.png"
            alt="Historic Cities of India">
          <p>Toys</p>

        <li class="carousel-slide">
          <img src="https://getgiglobal.com/backend/assets/images/products/1678954062784K.jpg" alt="Audios">
          <p>Mask</p>
        </li>
        <li class="carousel-slide">
          <img src="https://www.giheritage.com/uploads/product/leather-handicraft-trotting-horse-6-inch-h.png"
            alt="Historic Cities of India">
          <p>Toys</p>
        </li>

      </ul>
    </div>
    <button class="carousel-btn right" id="scroll-right">❯</button>
  </div>
</div>



<!-- Nature Section -->
<section id="nature-section" class="container mt-5 fade-in">
  <div id="content-1" class="row mb-5">
    <div id="image-wrapper-1" class="col-md-6">
      <img id="image-1" src="https://images.forbesindia.com/media/images/2019/Aug/img_119867_1.jpg" alt="Nature Image"
        class="img-fluid rounded">
    </div>
    <div id="text-wrapper-1" class="col-md-6 d-flex align-items-center">
      <div id="text-content-1">
        <h2 id="title-1">How India can save its urban heritage</h2>
        <p id="quote-1" class="text-muted">
          “When Vikas Dilawari started his practice in 1989, architectural conservation was a relatively unknown
          occupation in India. The first project that came to him, a few years later in 1993, was from a Parsi trust
          that commissioned the restoration of the Byramjee Jejeebhoy Parsi Charitable Institution in the Charni Road
          area of Mumbai. Besides these private entities, there were few supporting the conservation of heritage
          structures at the time. There were no guidelines in place either, besides what Dilawari had grasped while
          pursuing a masters degree in conservation at the School of Planning and Architecture in New Delhi and then at
          the University of York. That first project is something that his team maintains even today, even as the field
          itself has made rapid progress, which in turn has helped such heritage structures survive amid the pressures
          of urban development.”
        </p>
        <p id="description-1">
          While Mumbai took the lead on heritage conservation, in places like New Delhi it took until 2010 to have any
          such regulations in place. Monuments such as Humayun’s Tomb and the Qutub Minar drew their fair share of
          attention from the ASI, but smaller structures and private residences went unattended. Architect Aishwarya
          Tipnis considers it to be a problem of plenty.
        </p>
      </div>
    </div>
  </div>

  <div id="content-2" class="row fade-in">
    <div id="image-wrapper-2" class="col-md-6 order-md-2">
      <img id="image-2"
        src="https://www.holidify.com/images/cmsuploads/compressed/Chiang-Mai_Thailand_Wat-Chedi-Luang-stupa-01_20180706165542.jpg"
        alt="Nature Image" class="img-fluid rounded">
    </div>
    <div id="text-wrapper-2" class="col-md-6 order-md-1 d-flex align-items-center">
      <div id="text-content-2" class="bg-light p-4 rounded">
        <h2 id="title-2"> Wat Chedi Luang</h2>
        <p id="description-2">
          Known as the Temple of the Great Stupa, Wat Chedi Luang is among the most famous temples in Chiang Mai. It is
          most symbolically identified by its incomplete pagoda, which was brought down from a lofty 85 meters to 60
          meters after an earthquake in 1545 and now remains partly destroyed. Nevertheless, it is an enormous structure
          engraved with mythological motifs and enshrining several Buddha images. A replica of the revered Emerald
          Buddha of Wat Phra Kaew rests inside the temple, and the compound also houses the sacred city pillar, making
          it a highly venerated religious site.
        </p>
      </div>
    </div>
  </div>
</section>
<app-middle></app-middle>
