<section id="about-us" class="text-center py-5">
    <div class="container">
        <h2 class="custom-heading "> About Heritage</h2>
        <p><strong>
            India is a country with a diverse culture. India’s culture refers to a group of small distinct
            civilizations. Clothing, festivals, languages, religions, music, dance, architecture, food, and art are all
            part of Indian culture. Most notably, various foreign civilizations have affected Indian culture throughout
            its history. Furthermore, the history of Indian culture spans millennia. Hinduism, Buddhism, Jainism, and
            Sikhism are all religions. These religions are all founded on karma and dharma. These four are also known as
            Indian faiths. Along with Abrahamic religions, Indian religions constitute a major group of world religions.

            In addition, numerous foreign religions are practised in India. Abrahamic religions are among these foreign
            religions. In India, the Abrahamic religions are unquestionably Judaism, Christianity, and Islam. Other
            foreign religions in India include Zoroastrianism and the Bahá’ Faith, in addition to Abrahamic religions.
            As a result of the presence of so many different religions, Indian society has embraced tolerance and
            secularism....</strong>
        </p>
    </div>
</section>



