
<div class="swiper-container two wow fadeInUp animate swiper-container-horizontal swiper-container-3d swiper-container-coverflow" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <!-- <h1 class="">Most Popular Destinations</h1> -->
    <div class="swiper-wrapper" style="transform: translate3d(-9279.5px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="transform: translate3d(4750px, 0px, -11875px) rotateX(0deg) rotateY(2375deg); z-index: -47; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/airport.jpg" alt="slide 1" title="Delhi Airport"></a>
                    <div class="centered">Delhi Airport</div>
                </div>

            <div class="swiper-slide-shadow-left" style="opacity: 45; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(4250px, 0px, -10625px) rotateX(0deg) rotateY(2125deg); z-index: -42; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/humayuntom.jpg" alt="Humayun’s Tomb"></a>
                <div class="centered">Humayun’s Tomb</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 42.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="transform: translate3d(4000px, 0px, -10000px) rotateX(0deg) rotateY(2000deg); z-index: -39; transition-duration: 0ms;">
                <div class="slider-image">
                  <a href="#"><img src="../../../assets/img/new/kutubminar.jpg" alt="Kutub Minar"></a>
                    <div class="centered">Qutub Minar</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 40; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4" style="transform: translate3d(3750px, 0px, -9375px) rotateX(0deg) rotateY(1875deg); z-index: -37; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/birla-mandir.jpg" alt="Birla Mandir"> </a>
                    <div class="centered">Birla Mandir</div>                   </div>
            <div class="swiper-slide-shadow-left" style="opacity: 37.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="5" style="transform: translate3d(3500px, 0px, -8750px) rotateX(0deg) rotateY(1750deg); z-index: -34; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/lodi-garden.jpg" alt="Lodhi Garden"></a>
                    <div class="centered">Lodhi Garden</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 35; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="6" style="transform: translate3d(3250px, 0px, -8125px) rotateX(0deg) rotateY(1625deg); z-index: -32; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/lotustemple.jpg" alt="Lotus Temple"></a>
                    <div class="centered">Lotus Temple</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 32.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="7" style="transform: translate3d(3000px, 0px, -7500px) rotateX(0deg) rotateY(1500deg); z-index: -29; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/red-ort.jpg" alt="Red Fort"></a>
                    <div class="centered">Red Fort </div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 30; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="8" style="transform: translate3d(2750px, 0px, -6875px) rotateX(0deg) rotateY(1375deg); z-index: -27; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/Swaminarayan.jpg" alt="Akshardham Temple"></a>
                    <div class="centered">Akshardham Temple</div>
                </div>








            <div class="swiper-slide-shadow-left" style="opacity: 12.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>
                        <div class="swiper-slide" data-swiper-slide-index="0" style="transform: translate3d(1000px, 0px, -2500px) rotateX(0deg) rotateY(500deg); z-index: -9; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/airport.jpg" alt="slide 1" title="Delhi Airport"></a>
                    <div class="centered">Delhi Airport</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 10; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>

                <div class="swiper-slide" data-swiper-slide-index="1" style="transform: translate3d(750px, 0px, -1875px) rotateX(0deg) rotateY(375deg); z-index: -7; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/gyarah-murti.jpg" alt="Gyarah Murti"></a>
                    <div class="centered">Gyarah Murti</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 7.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>

               <div class="swiper-slide" data-swiper-slide-index="2" style="transform: translate3d(500px, 0px, -1250px) rotateX(0deg) rotateY(250deg); z-index: -4; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/humayuntom.jpg" alt="Humayun’s Tomb"></a>
                <div class="centered">Humayun’s Tomb</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>


              <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3" style="transform: translate3d(250px, 0px, -625px) rotateX(0deg) rotateY(125deg); z-index: -2; transition-duration: 0ms;">
                <div class="slider-image">
                  <a href="#"><img src="../../../assets/img/new/kutubminar.jpg" alt="Kutub Minar"></a>
                    <div class="centered">Qutub Minar</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 2.5; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>


              <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="4" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/birla-mandir.jpg" alt="Birla Mandir"> </a>
                    <div class="centered">Birla Mandir</div>                   </div>
            <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>


            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="5" style="transform: translate3d(-250px, 0px, -625px) rotateX(0deg) rotateY(-125deg); z-index: -1; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/lodi-garden.jpg" alt="Lodhi Garden"></a>
                    <div class="centered">Lodhi Garden</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 2.5; transition-duration: 0ms;"></div></div>







    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="transform: translate3d(-2750px, 0px, -6875px) rotateX(0deg) rotateY(-1375deg); z-index: -26; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/airport.jpg" alt="slide 1" title="Delhi Airport"></a>
                    <div class="centered">Delhi Airport</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 27.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="transform: translate3d(-3000px, 0px, -7500px) rotateX(0deg) rotateY(-1500deg); z-index: -29; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/gyarah-murti.jpg" alt="Gyarah Murti"></a>
                    <div class="centered">Gyarah Murti</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 30; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(-3250px, 0px, -8125px) rotateX(0deg) rotateY(-1625deg); z-index: -31; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/humayuntom.jpg" alt="Humayun’s Tomb"></a>
                <div class="centered">Humayun’s Tomb</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 32.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="transform: translate3d(-3500px, 0px, -8750px) rotateX(0deg) rotateY(-1750deg); z-index: -34; transition-duration: 0ms;">
                <div class="slider-image">
                  <a href="#"><img src="../../../assets/img/new/kutubminar.jpg" alt="Kutub Minar"></a>
                    <div class="centered">Qutub Minar</div>
                </div>
            <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 35; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4" style="transform: translate3d(-3750px, 0px, -9375px) rotateX(0deg) rotateY(-1875deg); z-index: -36; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/birla-mandir.jpg" alt="Birla Mandir"> </a>
                    <div class="centered">Birla Mandir</div>                   </div>
            <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 37.5; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="5" style="transform: translate3d(-4000px, 0px, -10000px) rotateX(0deg) rotateY(-2000deg); z-index: -39; transition-duration: 0ms;">
                <div class="slider-image">
                    <a href="#"><img src="../../../assets/img/new/lodi-garden.jpg" alt="Lodhi Garden"></a>
                    <div class="centered">Lodhi Garden</div>
                </div>

            <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 62.5; transition-duration: 0ms;"></div></div></div>
    <div class="swiper-pagination"></div>
</div>



<!-- Main Content -->
<div class="container-fluid ar-content">
    <div class="container">
        <div class="row mt-5 ">
            <!-- Hero Image -->
            <div class="col-12 ">
                <h2 class="custom-heading"> All Heritage Sites </h2>
                <p>Culture plays an important role in the development of any nation. It represents a set of shared
                    attitudes, values, goals and practices. Culture and creativity manifest themselves in almost all
                    economic, social and other activities. A country as diverse as India is symbolized by the plurality
                    of its culture.
                    India has one of the world’s largest collections of songs, music, dance, theatre, folk traditions,
                    performing arts, rites and rituals, paintings and writings that are known, as the ‘Intangible
                    Cultural Heritage’ (ICH) of humanity. In order to preserve these elements, the Ministry of Culture
                    implements a number of schemes and programmes aimed at providing financial support to individuals,
                    groups and cultural organizations engaged in performing, visual and literary arts etc.
                    This section offers comprehensive information related to cultural heritage, ancient monuments,
                    literary arts, visual arts, schemes, programmes, performing arts, fairs and festivals and handicraft
                    of India. Detailed information on various organizations involved in promotion and propagation of
                    Indian art and culture is also available in this section.</p>


                <div class="carousel1">
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/14s.jpg"
                            alt="A mountain retreat">
                        <div class="carousel-caption1">Ruins of Hampi</div>

                    </div>
                    <div class="carousel-item1">
                        <img src="https://whc.unesco.org/uploads/thumbs/site_0240_0001-1200-630-20130801164256.jpg"
                            alt="Textiles">
                        <div class="carousel-caption1">
                            Khajuraho Group of Monuments</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/12s.jpg"
                            alt="Sculpture">
                        <div class="carousel-caption1">Tanjore</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Konarka_Temple.jpg"
                            alt="Pottery and Ceramics">
                        <div class="carousel-caption1">
                            Sun Temple</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/8s.jpg"
                            alt="Jewelry Making">
                        <div class="carousel-caption1">Agra Fort</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Fatehput_Sikiri_Buland_Darwaza_gate_2010.jpg/800px-Fatehput_Sikiri_Buland_Darwaza_gate_2010.jpg"
                            alt="Wooden Crafts">
                        <div class="carousel-caption1">
                            Fatehpur Sikri</div>
                    </div>
                    <div class="carousel-item1">
                        <img src="https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcQ7FO7m6n_xJzPzunLpFx4BHuLMjXsuuRmi2-GByoqRv9y93m7Z8lWWrxKdQ5fo4x99"
                            alt=" ">
                        <div class="carousel-caption1">Pattadakal</div>
                    </div>
                </div>

                <!-- Heritage Sites -->
                <div class="comment-section mt-5">
                    <h2 class="custom-heading">Heritage Sites</h2>

                    <!-- Sanchi Stupa -->
                    <div class="media pt-5" id="Sanchi_Stupa">
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/13s.jpg"
                                alt="Sanchi Stupa" class="card-img">
                        </div>
                        <div class="media-body">
                            <h4>Sanchi Stupa</h4>
                            <p>The Sanchi Stupa is an ancient Buddhist stupa and a prominent pilgrimage site. It is known for its remarkable preservation and intricate carvings, which provide valuable insights into early Buddhist art and architecture. The site includes several stupas, monasteries, and temples, showcasing the rich history of Buddhism in India.</p>
                            <a href="https://www.mptourism.com/destination-sanchi.php    " target="_blank" class="btn text-uppercase">Read More</a>
                        </div>
                    </div>

                    <!-- Ruins of Hampi -->
                    <div class="media py-5 bottom-border">
                        <div class="media-body" id="Ruins_of_Hampi">
                            <h4>Ruins of Hampi</h4>
                            <p>The Ruins of Hampi are a UNESCO World Heritage Site located in the southern part of India, in the state of Karnataka. Hampi, formerly known as Vijayanagara, was the capital of the Vijayanagara Empire, which flourished between the 14th and 17th centuries. The site is renowned for its impressive ruins, which reflect the grandeur and architectural brilliance of the Vijayanagara Empire.</p>
                            <a href="https://www.atlasobscura.com/places/hampi   " class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/14s.jpg"
                                alt="Ruins of Hampi" class="card-img">
                        </div>
                    </div>

                    <!-- Agra Fort -->
                    <div class="media pt-5">
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/8s.jpg"
                                alt="Agra Fort" class="card-img">
                        </div>
                        <div class="media-body">
                            <h4>Agra Fort</h4>
                            <p>Agra Fort, also known as the Red Fort of Agra, has a rich history intertwined with the rise and fall of the Mughal Empire. The fort was initially a brick fort known as "Badalgarh," held by the Rajputs. Emperor Akbar rebuilt it in red sandstone, giving it its current form. The fort witnessed several historical events, including the coronation of Emperor Shah Jahan and his imprisonment by Aurangzeb.</p>
                            <a href="https://www.jaypeehotels.com/blog/complete-travel-guide-to-agra-fort-history-entry-fees-and-how-to-get-there " class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                    </div>

                    <!-- Ellora -->
                    <div class="media py-5 bottom-border">
                        <div class="media-body" id="Ellora">
                            <h4>Ellora</h4>
                            <p>Ellora, located in the Aurangabad district of Maharashtra, India, is a UNESCO World Heritage site known for its extraordinary rock-cut caves. These caves, dating back to between the 6th and 10th centuries CE, represent the pinnacle of Indian rock-cut architecture and are a testament to the religious harmony that existed during the period.</p>
                            <a href="https://magikindia.com/en/ellora-caves-maharashtra/" class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/11s.jpg"
                                alt="Ellora" class="card-img">
                        </div>
                    </div>

                    <!-- Khajuraho -->
                    <div class="media pt-5" id="Khajuraho">
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/10s.jpg"
                                alt="Khajuraho" class="card-img">
                        </div>
                        <div class="media-body">
                            <h4>Khajuraho</h4>
                            <p>Khajuraho was once the religious and cultural capital of the Chandela rulers, who were great patrons of art and architecture. The temples reflect the social, religious, and cultural life of the time. Built over a period of 100 years, only 22 of the original 85 temples have survived, showcasing the architectural genius of the Chandela dynasty.</p>
                            <a href="https://www.hotelclarks.com/khajuraho/blogs/history-of-khajuraho.html  " class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                    </div>

                    <!-- Somnath Temple, Gujarat -->
                    <div class="media py-5 bottom-border">
                        <div class="media-body" id="Somnath">
                            <h4>Somnath Temple, Gujarat</h4>
                            <p>The Somnath Temple, located in Prabhas Patan near Veraval in Gujarat, India, is one of the most revered and ancient temples dedicated to Lord Shiva. It is considered the first of the twelve Jyotirlingas, making it a significant pilgrimage site for Hindus. The temple's history is marked by its resilience, having been destroyed and rebuilt several times over the centuries.</p>
                            <a href="https://www.gujarattourism.com/saurashtra/gir-somnath/somnath-temple.html " class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                        <div class="card mr-4">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Somanath_Temple.jpg/350px-Somanath_Temple.jpg"
                                alt="Somnath Temple" class="card-img">
                        </div>
                    </div>

                    <!-- Shore Temple, Mahabalipuram -->
                    <div class="media py-5" >
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/24s.jpg"
                                alt="Shore Temple, Mahabalipuram" class="card-img">
                        </div>
                        <div class="media-body">
                            <h4>Shore Temple, Mahabalipuram</h4>
                            <p>The Shore Temple in Mahabalipuram, Tamil Nadu, is one of the oldest structural (stone) temples in South India, dating back to the 8th century during the reign of the Pallava dynasty. The temple complex, a UNESCO World Heritage site, consists of three shrines—two dedicated to Lord Shiva and one to Lord Vishnu.</p>
                            <a href="https://www.mahabalipuram.org/  " class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                    </div>

                    <!-- Brihadeeswarar -->
                    <div class="media py-5 bottom-border">
                        <div class="media-body">
                            <h4>Brihadeeswarar Temple</h4>
                            <p>Also known as the "Big Temple," this Dravidian-style temple is dedicated to Lord Shiva. Located in Thanjavur, it is one of the largest temples in India and is a part of the UNESCO World Heritage site known as the "Great Living Chola Temples."</p>
                            <a href="https://thanjavur.info/thanjavur-tourism/brihadeeswarar-temple-thanjavur/     " class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/12s.jpg" alt="Brihadeeswarar Temple" class="card-img">
                        </div>
                    </div>

                    <!-- Tirumala Venktashwar -->
                    <div class="media py-5" id="Tirupati">
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/17s.jpg" alt="Tirumala Venkateswara Temple" class="card-img">
                        </div>
                        <div class="media-body">
                            <h4>Tirumala Venkateswara Temple</h4>
                            <p>Located in Tirupati, this is one of the most famous and richest temples in the world, dedicated to Lord Venkateswara (a form of Vishnu). The temple's golden dome and intricate carvings are iconic.</p>
                            <a href="https://www.tirumalesa.com/my-amazing-experience-in-tirumala-temple-that-made-me-create-this-tirumalesa-site/  " class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                    </div>

                    <!-- Tajmal -->
                    <div class="media py-5 bottom-border">
                        <div class="media-body" id="Tajmahal">
                            <h4>Taj Mahal</h4>
                            <p>A symbol of love, the Taj Mahal in Agra is one of the most famous landmarks in the world. This white marble mausoleum was built by Mughal Emperor Shah Jahan in memory of his beloved wife Mumtaz Mahal and is a UNESCO World Heritage site."</p>
                            <a href="https://www.tajmahal.gov.in/" class="btn text-uppercase" target="_blank">Read More</a>
                        </div>
                        <div class="card mr-4">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/15s.jpg" alt="Brihadeeswarar Temple" class="card-img">
                        </div>
                    </div>


                </div>










                    <h3 class="custom-heading">All Heritage Images</h3>
                    <hr class="mx-auto" />
                    <div class="row insta-links mt-2">
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://cdn7.dissolve.com/p/D246_124_029/D246_124_029_1200.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Red Fort, Delhi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://static.toiimg.com/thumb/msid-85442373,width-748,height-499,resizemode=4,imgsize-450878/.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Ellora Caves</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiXs0QtvRMMcek4Y4FmG2XmkdOq3YmkGUHPxU3UlCNqBQaYuvLrudWvgOmLx2kSrEjP8LlxuBuxJpV8BTCGdGSQmbmS7vN3o7elCwShQfHgDy-i98YLCx3c8qmdUP-ZMC35GRT4s3YpnMo/s1600/LRM_EXPORT_129330324856762_20191030_001403979.jpeg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Shore temple, Mahabalipuram</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/23s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Somnath Temple, Gujarat</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/29s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Corridoor at Rameshwaram </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            <div class="card">
                                <img class="card-img w-100" src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/30s.jpg" alt="">
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <p>Jama Masjid at Delhi</p>

                                </div>
                            </div>
                        </div>
                    </div>
  </div>
  </div>
  </div>
  </div>


